
* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    margin-left: 38px;
    background-image: url(background-gradient.png);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
    
}

.navbar {
    display: flex;
    flex-direction: flex-start;
    gap: 20px;
    margin-top: 21px;
    align-items: center;
}


.logo_text {
    color: #FFF;
    font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: 120%;
}

.p_nav {
    color: #8C8888;
}
.p_nav_dif {
    color: #FFF;
}


.title {
    margin-top: 29px;
    color: #FFF;
    font-size: 39px;
font-style: normal;
font-weight: 800;
line-height: 120%;
margin-bottom: 0;
}
.title_gradient {
    background: linear-gradient(88deg, rgba(209, 20, 54, 0.47) -0.76%, rgba(168, 17, 218, 0.44) 27.55%, rgba(201, 33, 154, 0.78) 45.86%, rgba(209, 20, 54, 0.28) 121.35%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 39px;
font-style: normal;
font-weight: 800;
line-height: 120%;
}

.hero_desc {
    margin-top: 19px;
    color: #FFF;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 140%
}

.bold {
    font-weight: bold;
}

.subscription {
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 21px;
}

.subscription button {
    width: 280px;
height: 52px;
font-size: 19px;
font-style: normal;
font-weight: 500;
line-height: 120%;
color: #FFF;
}

.clicked {
    background-color: lightgray;
}

.subscription1 {
    background: linear-gradient(272deg, #2029FF -20.11%, #A811DA 102.04%);
  border: none;
}
.subscription2, .login {
    border: 1.5px solid #FFF;
    background: transparent;
}

button:hover {
    
    background-color: white;
    color: black;
    cursor: pointer;
}


a {
    text-decoration: none;
    color:#FFF;
    transition: color 0.3s ease;
}

a:visited {
    text-decoration: none; 
}


